* {
    text-align: center;
}

h1{
    width: 80%;
}

#new_task{
    width: 80%;
}

#to_do_list, #completed{
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
}

#list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    grid-template-rows: 60px auto;
}

button{
    width: 100px;
    height: 30px;
}

.hide{
    display: none;
}

.tile {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    text-transform: capitalize;
}

.desc {
    grid-column-start: 2; 
    grid-column-end: 4; 
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}

#completedButton {
    grid-column: 1 / span 2;
}

.high{
    background-color: red;
}

.medium{
    background-color: yellow;
}

.low{
    background-color: blue;
}

.done{
    background-color: green;
}