

#to_do_list, #completed{
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
}


#list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button{
    width: 100px;
    height: 30px;
}

.tile {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.desc {
    grid-column-start: 2; 
    grid-column-end: 4; 
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
}

#completedButton {
    grid-column: 1 / span 2;
}
